@-webkit-keyframes booping {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(1%);
            transform: translateX(1%);
    color: #E50914;
  }
}

@keyframes booping {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(1%);
            transform: translateX(1%);
    color: #E50914;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/*
  inittial font-size
*/
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.6rem;
}

h4 {
  font-size: 2.2rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.8rem;
}

p {
  font-size: 1.7rem;
}

a {
  font-size: 1.5rem;
}

body {
  position: relative;
  z-index: -999;
}

button {
  outline: none;
}

button:hover {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

input {
  padding-left: 10px;
  outline: none;
  border-radius: 5px;
}

.flex--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex--column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex--centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-wrapper {
  position: relative;
  z-index: -998;
  min-height: 100vh;
  background: url("/images/background-catalog.jpg");
}

.page-wrapper::after {
  content: "";
  position: absolute;
  z-index: -997;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(14, 13, 13, 0.8);
}

.notification-container {
  position: fixed;
  z-index: 999;
  top: -200px;
  left: 35%;
  -webkit-transition: -webkit-transform .6s ease-in-out;
  transition: -webkit-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
  background-color: #413e3e;
  width: 30%;
  padding: 20px;
  border-radius: 5px;
  font-style: italic;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
}

.notification-container::before {
  content: '';
  width: 5px;
  height: 200px;
  position: absolute;
  top: -200px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 998;
}

.notification-container.show {
  -webkit-transform: translateY(280px);
          transform: translateY(280px);
}

.notification-container.error {
  color: #ff2e2e;
}

.notification-container.error::before {
  background-color: #ff2e2e;
}

.notification-container.success {
  color: #2dfa5a;
}

.notification-container.success::before {
  background-color: #2dfa5a;
}

.root {
  height: inherit;
  color: #e2e2e2;
}

.logo {
  position: relative;
  font-size: 5rem;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 2px;
  color: #E50914;
}

.logo:hover {
  cursor: pointer;
}

.btn {
  text-align: center;
  color: #e2e2e2;
  border: none;
  border-radius: 3px;
  display: inline-block;
}

.btn--primary {
  background-color: #E50914;
  padding: 10px 20px;
}

.btn--primary:hover {
  -webkit-box-shadow: 0px 3px 10px 2px black;
          box-shadow: 0px 3px 10px 2px black;
}

.btn--back {
  border: 3px solid #E50914;
  background: none;
  font-size: 1.7rem;
  font-weight: 500;
  color: #E50914;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  padding: 15px 30px;
  margin-left: 20px;
}

.header {
  padding: 20px 50px 0 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list-item {
  margin-right: 4rem;
}

.header__list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  position: relative;
  color: #e2e2e2;
  font-size: 1.6rem;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.header__link::after {
  content: '';
  position: absolute;
  left: 0px;
  top: 23px;
  background-color: #E50914;
  width: 100%;
  height: 2.5px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.header__link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header__btn {
  margin-left: 1rem;
}

.footer {
  border-top: 5px solid #534d4d;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  padding: 20px 50px 0 70px;
}

.footer__description {
  max-width: 40%;
}

.footer__heading {
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.footer__list {
  width: 60%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__list a {
  color: #e2e2e2;
}

.footer__list a::before {
  font-family: FontAwesome;
  margin-right: 5px;
  border-radius: 50%;
  padding: 5px 10px;
  color: white;
  font-size: 1.8rem;
  background-color: #534d4d;
}

.footer__list .phone-contact::before {
  content: '\f879';
}

.footer__list .facebook::before {
  content: '\f39e';
}

.footer__list .instagram::before {
  content: '\f16d';
}

.footer__list .mail {
  margin-right: 0;
}

.footer__list .mail::before {
  content: '\f0e0';
}

.home-page {
  max-width: 70%;
  margin: 10rem auto;
}

.home-page__header {
  margin-bottom: 5rem;
}

.home-page__header h1 {
  font-size: 5rem;
}

.home-page__body .check-out-section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-page__body h2 {
  margin-bottom: 2rem;
}

.home-page__body .btn {
  margin: 50px 0 0;
  padding: 15px 30px;
  font-size: 1.7rem;
}

.about-page {
  max-width: 70%;
  margin: 8rem auto;
}

.about-page__header h1 {
  font-size: 4.7rem;
  margin-bottom: 5rem;
  letter-spacing: 1.5px;
}

.about-page__description h2 {
  margin-bottom: 3rem;
  line-height: 4rem;
}

.about-page__description h3 {
  margin-bottom: 2rem;
  line-height: 3.5rem;
}

.about-page__description h5 {
  letter-spacing: 1.5px;
  line-height: 2.5rem;
}

.about-page__description .all-emphasize {
  color: #E50914;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.submit-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.submit-form input {
  width: 80%;
  height: 30px;
  margin-bottom: 3rem;
}

.submit-form label {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.login-page {
  max-width: 50%;
  margin: 8rem auto 0;
  padding: 2rem;
  background-color: rgba(14, 13, 13, 0.8);
  border-radius: 20px;
}

.login-page__header h1 {
  margin-bottom: 5rem;
}

.login-page__footer {
  margin-top: 5rem;
}

.login-page__footer span {
  margin-right: 10px;
  padding-right: 5px;
  border-right: 1px solid #e2e2e2;
}

.login-page__footer a {
  font-size: 1.6rem;
  color: #e2e2e2;
  -webkit-animation: booping 1.5s infinite alternate;
          animation: booping 1.5s infinite alternate;
}

.register-page {
  max-width: 50%;
  margin: 5rem auto 0;
  padding: 2rem;
  background-color: rgba(14, 13, 13, 0.8);
  border-radius: 20px;
}

.register-page__header h1 {
  margin-bottom: 5rem;
}

.register-page__footer {
  margin-top: 5rem;
}

.register-page__footer span {
  margin-right: 10px;
  padding-right: 5px;
  border-right: 1px solid #e2e2e2;
}

.register-page__footer a {
  font-size: 1.6rem;
  color: #e2e2e2;
  -webkit-animation: booping 1.5s infinite alternate;
          animation: booping 1.5s infinite alternate;
}

.top-movies-page {
  margin: 70px 30px 0;
}

.top-movies-page .cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.top-movies-page .cards-wrapper > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.movie-card {
  background-color: #141218;
  max-width: 350px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 4px 1px #979797;
          box-shadow: 0px 0px 4px 1px #979797;
}

.movie-card__header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-box-shadow: 0px 3px 7px 1px #4e4d4d;
          box-shadow: 0px 3px 7px 1px #4e4d4d;
}

.movie-card__header img {
  max-height: 400px;
}

.movie-card__body {
  padding: 10px 20px 0px;
}

.movie-card__body p {
  margin: 10px 0px 15px;
  text-align: right;
  font-size: 1.5rem;
}

.movie-card__heading {
  color: #c9c9c9;
}

.movie-card__footer {
  padding: 0 20px 10px;
}

.movie-card__footer p {
  color: white;
  line-height: 23px;
}

.tickets-page {
  margin: 40px 20px 0;
  padding-bottom: 50px;
}

.tickets-page .movie-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tickets-page .streamHours {
  margin-top: 20px;
}

.tickets-page .streamHours .btn--primary {
  padding: 12px 25px;
  font-size: 1.8rem;
}

.tickets-page .streamHours > * ~ * {
  margin-left: 40px;
}

.tickets-page .cards-wrapper {
  margin-top: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  row-gap: 10rem;
}

.tickets-page .cards-wrapper > * {
  -ms-grid-column-align: center;
      justify-self: center;
}

.cinema-hall {
  position: relative;
  max-width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px auto 0;
}

.cinema-hall__header {
  width: 100%;
  margin-bottom: 30px;
}

.cinema-hall__header .screen {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: 150px;
  background-color: black;
  -webkit-box-shadow: 0px 0px .2px .2px white inset;
          box-shadow: 0px 0px .2px .2px white inset;
  border-radius: 2px;
}

.cinema-hall__header .screen::after {
  content: '';
  position: absolute;
  width: 70%;
  height: 10px;
  background-color: white;
  bottom: -7px;
  left: 15%;
  -webkit-transform: perspective(10px) rotateX(40deg);
          transform: perspective(10px) rotateX(40deg);
  -webkit-filter: blur(7px);
          filter: blur(7px);
}

.cinema-hall__heading {
  text-align: center;
  margin-bottom: 10px;
}

.cinema-hall__description {
  margin: 40px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cinema-hall__description .ticket-price {
  margin-bottom: 30px;
}

.cinema-hall__description .description-secondary-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cinema-hall__description .free-seats,
.cinema-hall__description .selected-seats {
  margin-bottom: 30px;
}

.cinema-hall__description .free-seats,
.cinema-hall__description .selected-seats,
.cinema-hall__description .reserved-seats {
  position: relative;
  margin-right: 5px;
}

.cinema-hall__description .free-seats::after,
.cinema-hall__description .selected-seats::after,
.cinema-hall__description .reserved-seats::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-transform: rotateY(10deg);
          transform: rotateY(10deg);
  right: -50px;
}

.cinema-hall__description .free-seats::after {
  background-color: white;
}

.cinema-hall__description .selected-seats::after {
  background-color: green;
}

.cinema-hall__description .reserved-seats::after {
  background-color: #E50914;
}

.cinema-hall__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 18px;
  -webkit-column-gap: 70px;
          column-gap: 70px;
}

.cinema-hall__list-item {
  display: block;
  width: 70px;
  height: 50px;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-transform: rotateY(10deg);
          transform: rotateY(10deg);
}

.cinema-hall__list-item.selected {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: green;
}

.cinema-hall__list-item.reserved {
  background-color: #E50914;
}

.cinema-hall__footer {
  margin: 50px 50px;
}

.confirm-tickets {
  position: absolute;
  width: 120%;
  height: 100%;
  background-color: rgba(12, 11, 11, 0.99);
  padding: 150px 30px;
  border-radius: 10px;
  z-index: 2;
  display: none;
}

.confirm-tickets__heading {
  margin-bottom: 60px;
  font-style: italic;
}

.confirm-tickets label {
  margin-bottom: 15px;
  font-size: 2rem;
}

.confirm-tickets input {
  margin: 0 0 35px;
  width: 60%;
  height: 30px;
}

.confirm-tickets__footer .btn--primary {
  display: block;
  margin: 0 auto;
  padding: 12px 20px;
  width: 12%;
}

.confirm-tickets .total-amount-container {
  margin: 50px 0;
  text-align: center;
  font-size: 2rem;
  font-style: italic;
}

.text-centered {
  text-align: center;
}

.block-centered {
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */