.flex--row {
    display: flex;
    flex-direction: row;
}

.flex--column {
    display: flex;
    flex-direction: column;
}

.flex--centered {
    justify-content: center;
    align-content: center;
}