@keyframes booping {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(1%);
        color: $primary-red;
    }
}

@keyframes reveal {
    from {
        transform: translate(-200px, 0);
    }

    to {
        transform: translate(0px, 0px);
    }
}