.all-movies {
    margin: 20px 20px 0;
    padding-bottom: 50px;

    @include for-tablet-portrait-up {
        margin: 50px 20px 0;
    }

    .movie-card-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .movie-card {
        @include for-tablet-portrait-up {
            max-width: 400px;
        }
    }

    &__date {
        margin-top: 20px;
        font-style: italic;
        font-weight: 500;
        color: rgb(190, 187, 187);

        span {
            color: white;
        }
    }

    .streamHours {
        margin-top: 30px;

        .btn--primary {
            padding: 12px 25px;
            font-size: 1.8rem;
        }

        & > * ~ * {
            margin-left: 40px;
        }
    }

    .cards-wrapper {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 10rem;

        @include for-tablet-portrait-up {
            grid-template-columns: 1fr;
        }

        & > * {
            justify-self: center;
        }
    }
}
