.btn {
    text-align: center;
    color: $primary-white;
    border:none;
    border-radius: 3px;
    display: inline-block;

    &--primary {
        background-color: $primary-red;
        padding: 10px 20px;
    
        &:hover {
            box-shadow: 0px 3px 10px 2px black;
        }
    }


    &--back {
        border: 3px solid $primary-red;
        background: none;
        font-size: 1.7rem;
        font-weight: 500;
        color: $primary-red;
        border-top-left-radius: 100%;
        border-bottom-left-radius: 100%;
        padding: 15px 30px;
        margin-left: 20px;
    }

}

