.btn {
    text-align: center;
    color: $primary-white;
    border:none;
    border-radius: 3px;
}

.btn--primary {
    background-color: $primary-red;
    padding: 7px 17px;

    &:hover {
        box-shadow: 0px 3px 10px 2px black;
    }
}