.cinema-hall {
    position: relative;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0;

    @include for-tablet-portrait-up {
        max-width: 90%;
    }

    

    &__header {
        width: 100%;
        margin-bottom: 30px;

         .screen {
             position: relative;
             width: 70%;
             margin: 0 auto;
             height: 150px;
             background-color: black;
             box-shadow: 0px 0px .2px .2px white inset;
             border-radius: 2px;

             &::after {
                 content: '';
                 position: absolute;
                 width: 70%;
                 height: 10px;
                 background-color: white;
                 bottom: -7px;
                 left: 15%;
                 transform: perspective(10px) rotateX(40deg);
                 filter: blur(7px);
             }
         }
    }

    &__heading {
        text-align: center;
        margin-bottom: 10px;
    }

    &__description {
        margin: 40px 0 0;
        display: flex;
        justify-content: space-between;

        @include for-tablet-portrait-up {
            justify-content: space-evenly;
        }

        @include for-phone-only {
            flex-direction: column;
        }

        .ticket-price {
            margin-bottom: 30px;

            .span-price {
                color: $primary-red;
                letter-spacing: 1px;
            }
        }

        .description-secondary-information {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;

            @include for-phone-only {
                 margin: 30px 0;
                 align-items: flex-start;

            }

        }

        .free-seats,
        .selected-seats {

            margin-bottom: 30px;
        }

        .free-seats,
        .selected-seats,
        .reserved-seats {
            position: relative;
            margin-right: 5px;
            letter-spacing: 1.2px;
            
            &::after {
                content: '';
                position: absolute;
                width: 40px;
                height: 30px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                transform: rotateY(10deg);
                right: -50px;

            }
        }

        .free-seats {
            &::after {
                background-color: white;
            }
        }

        .selected-seats {

             &::after {
                background-color: green;
            }
        }

        .reserved-seats {

            &::after {
               background-color: $primary-red;
           }
       }
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        row-gap: 18px;
        column-gap: 70px;

        @include for-tablet-portrait-up {
            column-gap: 30px;
        }

        @include for-phone-only {
            column-gap: 15px;
        }
    }

    &__list-item {
        display: block;
        width: 70px;
        height: 50px;
        background-color: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        transform: rotateY(10deg);

        @include for-tablet-portrait-up {
            width: 50px;
        }

        @include for-phone-only {
            width: 40px;
        }

        &.selected {
            transform: scale(1.2);
            background-color: green;
        }

        &.reserved {
            background-color: $primary-red;
        }
    }

    &__footer {
        margin: 50px 50px;
    }
}