.confirm-tickets {
    position: absolute;
    width: 120%;
    height: 100%;
    background-color: rgba(12, 11, 11, 0.99);
    padding: 150px 30px;
    border-radius: 10px;
    z-index: 2;
    display: none;

    @include for-tablet-portrait-up {
        width: 100%
    }

    @include for-phone-only {
        position: fixed;
        top: 0;
        padding: 50px 30px;
    }

    &__heading {
        margin-bottom: 60px;
        font-style: italic;

        @include for-tablet-portrait-up {
            margin: 40px 0 60px;
        }
    }

    label {
        margin-bottom: 15px;
        font-size: 2rem;
    }

    input {
        margin: 0 0 35px;
        width: 60%;
        height: 30px;

        @include for-tablet-portrait-up {
            width: 80%
        }
    }

    &__footer {
        
        .btn--primary {
            display: block;
            margin: 0 auto;
            padding: 12px 20px;
            width: 12%;

            @include for-tablet-portrait-up {
                width: 20%
            }

            @include for-phone-only {
                width: 30%
            }
        }
    }

    .total-amount-container {
        margin: 50px 0;
        text-align: center;
        font-size: 2rem;
        font-style: italic;
    }
}