.confirm-tickets {
    position: absolute;
    width: 120%;
    height: 100%;
    background-color: rgba(12, 11, 11, 0.99);
    padding: 150px 30px;
    border-radius: 10px;
    z-index: 2;
    display: none;

    &__heading {
        margin-bottom: 60px;
        font-style: italic;
    }

    label {
        margin-bottom: 15px;
        font-size: 2rem;
    }

    input {
        margin: 0 0 35px;
        width: 60%;
        height: 30px;
    }

    &__footer {
        
        .btn--primary {
            display: block;
            margin: 0 auto;
            padding: 12px 20px;
            width: 12%;
        }
    }

    .total-amount-container {
        margin: 50px 0;
        text-align: center;
        font-size: 2rem;
        font-style: italic;
    }
}