.home-page {
    max-width: 70%;
    margin: 10rem auto;

    @include for-tablet-landscape-up {
        max-width: 95%;
    }

    &__header {
        margin-bottom: 5rem;

        @include for-tablet-portrait-up {
            margin-bottom: 2rem;
        }

        h1 {
            font-size: 5rem;

            @include for-tablet-portrait-up {
                font-size: 4.5rem;
            }
        }
    }

    &__body {

        .check-out-section {
            align-items: center;
        }

        h2 {
            margin-bottom: 2rem;
        }

        .btn {
            margin-top: 2rem;
            padding: 7px 9px;
            font-size: 2.2rem;
        }
    }

    .footer {

        @include for-tablet-portrait-up {
            display: flex !important;

        }
}
}