.notification-container {
   position: absolute;
   z-index: 999;
   top: -200px;
   left: 35%;
   transition: transform .6s ease-in-out;

   background-color: rgb(65, 62, 62);
   width: 30%;
   padding: 20px;
   border-radius: 5px;
   font-style: italic;
   font-size: 2.5rem;
   font-weight: 500;
   text-align: center;
   letter-spacing: 1px;

   &::before {
       content: '';
       width: 5px;
       height: 200px;
       position: absolute;
       top: -200px;
       left: 50%;
       transform: translateX(-50%);
       z-index: 998;
   }

   &.show {
    transform: translateY(280px);
   }

   &.error {
       color: rgb(255, 46, 46);

       &::before {
           background-color: rgb(255, 46, 46);
       }
   }

   &.success {
    color: rgb(45, 250, 90);

    &::before {
        background-color:rgb(45, 250, 90);

    }
   }
}