.submit-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
        width: 80%;
        height: 30px;
        padding-left: 10px;
        margin-bottom: 3rem;
        outline: none;
        border-radius: 5px;
    }

    label {
        font-size: 1.7rem;
        margin-bottom: 1rem;
    }
}